<form [formGroup]="numbersForm">
    <div>
        <label for="number1">Nombre de pàgines: </label>
        <button (click)='suma("number1")'>+</button>
        <input class="a" type="number" formControlName="number1" #input>
        <button (click)="resta('number1')">-</button>
        <app-modal></app-modal>
        <div *ngIf="numbersForm.get('number1').hasError('minValue')">
            El valor ha de ser més gran de 0.
        </div>
    </div>
    <div>
        <label for="number2">Nombre d'idiomes: </label>
        <button (click)='suma("number2")'>+</button>
        <input type="number" formControlName="number2">
        <button (click)="resta('number2')">-</button>
        <app-modal2></app-modal2>
        <div *ngIf="numbersForm.get('number2').hasError('minValue')">
            El valor ha de ser més gran de 0.
        </div>
    </div>
</form>