<ng-template #modal1 let-modal>
    <div class="modal-body"yy>
        En aquest requadre ha d'indicar el nombre de pàgines que desitja per al seu lloc web.
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-success" (click)="modal.close()">Entesos</button>
    </div>
</ng-template>

<ng-template #modal2 let-modal>
    <div class="modal-body">
        En aquest requadre ha d'indicar el nombre d'idiomes amb els quals vol la seva pàgina web.
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-success" (click)="modal.close()">Entesos</button>
    </div>
</ng-template>
