<ng-template #contenido let-modal>
    <div class="modal-header">
        <h4 class="modal-title">Titulo Modal</h4>
        <button class="close" aria-label="close" type="button" (click)="modal.dismiss()">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        En aquest requadre ha d'indicar el nombre de pàgines que desitja per al seu lloc web.
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-success" (click)="modal.close()">Entesos</button>
    </div>
</ng-template>

<button type="button"(click)="openWindow(contenido)"><i class="fa-sharp fa-solid fa-circle-info"></i></button>
