<div class="container mt-5 g-0 mx-3 mx-lg-auto">
    <div class="row g-0 ms-4 ms-lg-0">
        <div class="col-10 col-lg-5 mb-5 mb-lg-0">
            <fieldset>
                <legend class="mb-3">Què vols fer?</legend>

                <form [formGroup]="initialForm" (ngSubmit)="onClickSubmit(initialForm.value)">
                    <div class="mb-3">
                        <label for="inputNom">Nom: </label>
                        <input type="text" formControlName="inputNom" class="ms-2">
                        <div class="text-danger" *ngIf="initialForm.get('inputNom').hasError('required') && initialForm.get('inputNom').touched">
                            Aquest camp és obligatori.
                        </div>
                    </div>

                    <div class="mb-2">
                        <label for="inputPre">Nom pressupost: </label>
                        <input type="text" formControlName="inputPre" class="ms-2">
                        <div class="text-danger" *ngIf="initialForm.get('inputPre').hasError('required') && initialForm.get('inputPre').touched">
                            Aquest camp és obligatori.
                        </div>
                    </div>

                    <div class="mb-2">
                        <input type="checkbox" formControlName="checkbox1" class="me-1">
                        <label for="checkbox1">Una pàgina web</label>
                    </div>

                    <app-panell *ngIf='this.initialForm.get("checkbox1").value' (newItemEvent)="funcioFillPare($event)"
                        [number1Init]="number1Init" [number2Init]="number2Init" class="mt-1"></app-panell>

                    <div class="mb-2">
                        <input type="checkbox" formControlName="checkbox2" class="me-1">
                        <label for="checkbox2">Una consultoria SEO</label>
                    </div>

                    <div class="mb-3">
                        <input type="checkbox" formControlName="checkbox3" class="me-1">
                        <label for="checkbox3">Una campanya de Google Ads</label>
                    </div>
                    <p><b>Preu:</b> {{Press}}€</p>
                    <div>
                    <input type="submit" [disabled]="!initialForm.valid" class="btn btn-primary forsubmit" value="Crea pressupost">
                    <button class="btn btn-success ms-3" (click)="tornar()">Torna</button>
                    </div>
                </form>
            </fieldset>

        </div>
        <div class="col-10 col-lg-7">
            <app-pressupost-list></app-pressupost-list>
        </div>
    </div>

</div>